* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar{
    display:flex;
    justify-content: space-evenly;
    background-color: rgb(37, 42, 80);
}

.nav-bar a{
    font-size: 2em;
    color: white;
    text-decoration: none;
}

header{
    background-image: url(/Lab-css-ironskydive-2/lab-css-ironskydive-2/multimedia/ironhack-skydive-background.jpg);
    position: 0 0;
    background-size: cover;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    text-align: center;
}

header h1{
    display: flex;
    align-items: center;
    font-size: 3.5em;
}

header h2{
    color: white;
    text-shadow: #020819 8px -20px 9px;
    font-size: 2.5em;
}

.general-information{
    display: flex;
    align-items: flex-start;
    align-content: stretch;
    justify-content: flex-start;
}
